body {
    background-color: rgb(247, 247, 247);
}

.üst {
    width: 100%;
    border: 2px solid;
    height: 20%;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.başlık {

    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.üstyazı {
    font-size: 25px;
    margin-left: 25%;

}

.ardahan {
    display: flex;
}

.formabir {
    height: 450px;
    border-radius: 16px;
    border: 2px solid black;
    margin-left: 35px;
    margin-top: 50px;
}

.Nedenyazı:hover {
    cursor: pointer;
    background-color: lightgrey;
}


.Nedenyazı {

    float: right;
    max-width: 900px;
    padding: 40px;
    background: white;
    border-radius: 16px;
    border: 2px gray solid;
    font-family: 'Open Sans', sans-serif;
    color: rgb(83, 81, 81);
    font-size: 16px;
    margin-top: 50px;
}