body {
    background-color: lightblue;
}

a {
    text-decoration: none;
}

.mesajkutusu {
    clear: both;
    margin-top: 10px;
    background-color: lightsteelblue;
    width: 250px;
    height: 60px;
    border-radius: 15px;
}

.mesajkutusu:hover {
    background-color: lavender;
    cursor: hand;
}

.mesajkutusu img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    float: left;
    margin: 5px;
}

.adsoyad {
    padding-top: 10px;
    color: black;
}

.tarih {
    padding-top: 5px;
    font-size: 10px;
    color: dimgray;
}