 .a {
     background-color: white;
     height: 300px;
     padding: 45px;
     border-radius: 16px;
     border: 2px gray solid;
     background-image: url(Resimler/fenlisesiiki.png);
 }

 .atam {
     height: 125px;
     padding-left: 15px;

 }

 .bayrak {
     height: 125px;
     padding-right: 15px;
     position: relative;
     left: 1550px;

 }

 .tablomm {
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     display: flex;
 }


 .b {
     background-color: lightgrey;
     width: 15%;
     height: 800px;
     float: left;
     text-align: center;


 }

 a {
     color: black;
     text-decoration: none;
     text-align: center;
     line-height: 70px;
     position: relative;
     top: 250px;
 }

 .c {
     width: 85%;
     float: left;
 }




 .e {
     background-color: rgb(22, 206, 47);
     height: 125px;
     text-align: center;
     clear: both;
 }

 .başlıkbir {

     font-family: 'Poppins', sans-serif;
     text-align: center;
 }

 .başlıkiki {
     font-family: 'Poppins', sans-serif;
     text-align: center;

 }



 .index {
     background-color: white;
 }


 .tarihyazı {
     max-width: 900px;
     margin: 60px auto;
     padding: 40px;
     background: white;
     border-radius: 16px;
     border: 2px gray solid;
     font-family: 'Open Sans', sans-serif;
     color: rgb(83, 81, 81);
     font-size: 16px;
 }

 .hakyazı:hover {
     cursor: pointer;
     background-color: lightgrey;
 }

 .tarihyazı:hover {
     cursor: pointer;
     background-color: lightgrey;
 }

 .Hakkımızda {
     background-image: url(Resimler/arkaplan.jpg);
 }

 .hakyazı {
     max-width: 900px;
     font-family: 'Open Sans', sans-serif;
     color: rgb(83, 81, 81);
     margin: 60px auto;
     padding: 40px;
     background: white;
     border-radius: 16px;
     border: 2px gray solid;
     font-size: 16px;

 }

 .üstpanel {
     height: 225px;
     border: 2px black solid;
     border-radius: 16px;
     background-image: url(Resimler/fenlisesiiki.png  );
     object-fit: cover;
     margin: 0px;
     padding: 0px;
 }

 .resimbir {
     border-radius: 16px;
     height: 600px;
     width: 100%;
     object-fit: cover;
     border: 2px black solid;
     background-image: url(Resimler/);
     display: inline-block;
 }