#C{
    background-color: orange;
    color: black;
    width: 16px;
    text-align: center;
}
#S{
    background-color: blue;
    color: black;
    width: 16px;
    text-align: center;
}
#S1{
    background-color: cadetblue;
    color: black;
    width: 16px;
    text-align: center;
}
