#bir{
    background-color: red;
    height:150px;
}
#iki{
    background-color: yellow;
    height: 500px;width: 33%;
    display: inline-block;
}
#üç{
    background-color: rgb(9, 94, 190);
    height: 500px;width:33%;
    display: inline-block;
}
#dört{
    background-color: rgb(12, 182, 117);
    height: 500px;width: 33%;
    display: inline-block;
    
}
#beş{
    background-color: gray;
    height: 150px;
}