 .Nedenyazı {
     max-width: 900px;
     float: right;
     padding: 40px;
     background: white;
     border-radius: 16px;
     border: 2px gray solid;
     font-family: 'Open Sans', sans-serif;
     color: rgb(83, 81, 81);
     font-size: 16px;
     margin-top: 70px;

 }

 .Nedenyazı:hover {
     cursor: pointer;
     background-color: lightgrey;
 }

 .başlık {

     font-family: 'Poppins', sans-serif;
     text-align: center;

 }

 .Neden {
     border-radius: 8px;
     border: 2px solid black;
     width: 800px;
     height: 700px;
     margin-top: 90px;
     margin-left: 30px;
     display: flex;
 }

 .resimdiv {
     display: flex;
 }

 .üst {
     width: 100%;
     border: 2px solid;
     height: 20%;
     background-color: rgb(247, 247, 247);
     display: flex;
     align-items: center;
     border-radius: 12px;
 }

 .üstyazı {
     font-size: 25px;
     margin-left: 25%;

 }

 body {
     background-color: rgb(247, 247, 247);
 }